.taskCard {
  margin-bottom: 0.5rem;
}

.taskCardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.taskText {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.deleteButton {
  background-color: #f44336;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
